.searchBar {
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  font-size: var(--font-size-17);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--spiral-white);
}

.searchInput:focus {
  outline: none;
  border-color: var(--spiral-pink);
  box-shadow: 0 0 0 1px var(--spiral-pink);
}

.searchInput::placeholder {
  color: var(--spiral-gray-light);
}
