.searchBar {
  position: relative;
  width: 100%;
  margin-block: var(--spacing-10);
  padding-inline: var(--spacing-10);
}

.searchIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--spiral-gray-light);
  pointer-events: none;
  z-index: 1;
  width: 24px;
}

.searchInput {
  width: 100%;
  height: 44px;
  padding: 12px 16px 12px 50px;
  font-size: var(--font-size-17);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--spiral-white);
}

.searchInput::placeholder {
  color: var(--spiral-gray-light);
}
